section{
    background-color: smokegray;
    height: 90vh;
    display: flex;
    justify-content: center;
    border: 2px solid;
}
.left{
    width: 42%; 
}
.center{
    width: 33%; 
}
.rightside{
    width: 25%; 
}
.left div{
    padding: 10%;
    border: 1px solid;
}
.lefttop{
    height: 30%;
}
.leftbottom{
    height: 70%;
}
.rightside>div{
    padding: 10%;
    border: 1px solid;
}
.righttop{
    background-color: lightblue;
}
.rightcenter{
    background-color: orange;
}